[general]
login_delay = 0 
# seconds to sleep in-between PTC authing on one proxy

# Whether raw worker stats are written
stats = true

# Host and Port used for the Dragonite API
api_host = "0.0.0.0"
api_port = 7272

[koji]
url = "http://koji:8080"
bearer_token = "SuperSecureKojiSecret"

[prometheus]
enabled = true

[tuning]
dynamic_route_split = true
#recycle_gmo_limit = 4900
#recycle_encounter_limit = 9900
recycle_on_jail=true
minimum_account_reuse_hours = 168
#location_delay = 0
#fort_location_delay = 0

[rotom]
endpoint = "ws://rotom:7071"

[logging]
save = false
#debug = false
#max_size = 500 # MB
#max_age = 30 # days

[processors]
# Golbat Endpoint is singular - and will configure an endpoint for raw sending and API
golbat_endpoint = "http://golbat:9001"
golbat_raw_bearer = "SuperSecureGolbatRawSecret"
golbat_api_secret = "SuperSecureGolbatApiSecret"
# if this is present then dragonite will not send raws to the httpendpoint
golbat_grpc_endpoint = "golbat:50001"

[db.dragonite]
host = "database"
port = 3306
user = "dbuser"
password = "SuperSecuredbuserPassword"
name = "dragonite"
pool_size = 1
